


.product_container {
    /* background-color: red; */
    width: 18.75rem;
    height:100%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #eee; */
    /* border-top: 1px solid #eee; */
    border: 1px solid #eee;
    margin: 0 2px;
    border-radius: 5px;
}

.product_container:hover {
    transform: scale(1.01);
}

.product_image_holder{
    padding: 0.425rem 1.25rem;
    
}

.product_image_holder > img {
    height: 15.625rem;
    width: 15.625rem;
    
}

.product_details{
    display: flex;
    align-items: center;
    gap:1rem;
    /* font-size: .725rem; */
    padding: 0 .625rem;
}

.product_name h1{
    font-size: 0.875rem;
    text-align: center;
    max-height: 30px;
    margin-bottom: 5px;
    color: #212121;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    
}


.product_price {
    color:#388e3c ;
    text-align: center;
    font-size: 0.938rem;
    font-weight: 200;
}

.product_price >h3{
    display: flex;
    align-items: center;
}

.product_price .discount{
    text-decoration: line-through;
    color: #aaa;
    font-size: 0.725rem;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
}

.product_details .product_Description {
    font-size: 1.3rem;
    padding: 0.525rem 1.25rem;
    width: 80%;
    display: none;    
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* letter-spacing: 10px; */

}

.product_price > button {
    border: none;
    padding: 0.513rem;
    margin-top: 0.425rem;
    border-radius: 0.625rem;
}

.product_price > button:focus{
    border: none;
    outline: none;
}

