

.product_holder{
    margin: 1.25rem 0;
    height: 25rem;
    width: 100%;
    position: relative;
    display: flex; 
    flex-direction: row;
    overflow: hidden;


}

.generic_image_container{
    height: 100%;
    min-width: 18.75rem;
    background-position: 0 bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(https://images.pexels.com/photos/8004029/pexels-photo-8004029.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    object-fit: contain;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    border-radius: 0.313rem;
    background-color: #FFFFFF;
/* background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%); */


}

.text_holder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 60px;
}
.text_holder >h2{
    width: 50%;
    margin-top: 1.875rem;
    text-align: center;
    padding: 0.938rem 0.625rem;
    font-weight: 400;
    font-size: 2rem;
}

.text_holder_button > button > a{
    text-decoration: none;
    color: #fff;
}

.text_holder button{
    background-color: #2874f0;
    color: #fff;
    border: none;
    padding: 0.75rem 0.938rem;
}

.slider_btn{
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    height: 6.25rem;
    width: 3.125rem;
    top:35%;
}

.product_holder .slider_btn_left{
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    left:18.75rem;
}
.product_holder .slider_btn_right{
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    right:0;   
}

.products_container{
    /* width: 100%; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}